.post_container
  - @posts.each do |post|
    .post#post-index{data:{post_id: post.id}}
      .avatar
        = link_to profile_path do
          = image_tag post.user.avatar_image, class: 'usericon'
      .post_user
        = post.user.username
      .post_time
        %time(datetime='#{post.created_at}')= time_ago_in_words(post.created_at)
      = render '/commons/images', post: post

      .delete
        - if user_signed_in? && current_user.id == post.user_id
          = link_to '削除する', post_path(post.id), data:{method: 'delete', confirm: '本当に削除してもよろしいでしょうか？'}

      .icon_container
        .like 
          - if user_signed_in?
            - if current_user.hasliked?(post)
              .post_heart.active-heart{class: '#{post.id}', id: '#{post.id}'}
                = image_tag('heart-active.svg')
              .post_heart.hidden.inactive-heart{class: '#{post.id}', id: '#{post.id}'}
                = image_tag('heart.svg')
            - else
              .post_heart.inactive-heart{class: '#{post.id}', id: '#{post.id}'}
                = image_tag('heart.svg')
              .post_heart.hidden.active-heart{class: '#{post.id}', id: '#{post.id}'}
                = image_tag('heart-active.svg')
                
=javascript_pack_tag 'post'
